body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 20px;
}

.header-section {
  background-image: url('assets/bg.svg');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: contain;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 20px;
}

.navbar-links {
  display: none;
}

.header-body {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem 1rem;
}

.header-footer {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}

.header-footer div {
  padding: 1rem 0;
  font-size: 20px;
}

.header-footer>div:first-child {
  align-self: center;
}

.bi-arrow-right {
  display: none;
}

.toggle-menu {
  cursor: pointer;
}

.font-w-bold {
  font-weight: 700;
}
